<html>
  <link href="style.css" rel="stylesheet" type="text/css">
  <head>
    <h1> Gambling Site </h1>
  </head>
  <body>
    <h2>Welcome to the Gambling Site</h2>
    <img src="gamble.jpg"  width="180" height="260" />
    <br/>
    <p>Please <a class='btn' href='/login'>Log on</a> to start gambling</p>
    <br/>
    <p><a class='btn' href='/signup'>Sign Up</a> if you do not have an account</p>
    <br/>
  </body>
</html>
