<html>
  <body>
  <h2>Sign In</h2>
    <% if session[:notice] %>
    <h3><%= session[:notice] %> </h3>
    <% session[:notice] = nil %>
    <% end %>
    <form action="/login" method='post'>
      <div class="browsers">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>
        <br><br>
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <br><br>
        <button type="submit">Submit</button>
        <br><br>
      </div>
    </form>
  </body>
</html>
